{{extend 'layout.html'}}
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
function sendMessage(callbackFunctionOnSuccess, messageTo, messageText){
	$.ajax({
        url: "http://127.0.0.1:8000/welcome/default/api",
        type: "POST",
        data: {	type: 'send',
                message: messageText,
				to: messageTo,
              },
        dataType: 'text',
        beforeSend: function (xhr){
        },
        success: callbackFunctionOnSuccess,
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Error');
        }
    });
}

function successCallbackFunction(resultFromPost) 
{
	alert(resultFromPost);
}

function sendButton()
{
	//Grab the information entered by the user
	var to = $('#toField').val();
	var message = $('#messageField').val();
	
	//Pass the information enterd by the user to sendMessage in order to have the message posted.
	sendMessage(successCallbackFunction, to, message);
}

</script>
<a href="{{=URL('index')}}">Inbox</a>
<table>
	<tr>
		<td style="width:85%">
			<form action="javascript:sendButton();">
				To:
				<input type="text" id='toField'>
				<br>
				<textarea id="messageField" style="height: 150px;">
				</textarea>
				<br>
				<input type="submit" value="Send">
			</form>
		</td>
		<td> 
			Contacts
			<br>
			<div style="width:100%;height:200px;border:1px solid black;overflow:scroll;">
				This will be a list of clickable email addresses. Clicking on a email address will add it to the To field.
				<br>
				example1@example.com
				<br>
				example2@example.com
				<br>
				example3@example.com
				<br>
				example4@example.com
				<br>
				example5@example.com
				<br>
				example6@example.com
				<br>
				example7@example.com
				<br>
				example8@example.com
				<br>
				example9@example.com
				<br>
				example10@example.com
			</div>
		</td>
	</tr>
<table>



 