{{extend 'layout.html'}}
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
function sendMessage(callbackFunctionOnSuccess, messageTo, messageText){
	$.ajax({
        url: "http://127.0.0.1:8000/welcome/default/api",
        type: "POST",
        data: {	type: 'send',
                message: messageText,
				to: messageTo,
              },
        dataType: 'text',
        beforeSend: function (xhr){
        },
        success: callbackFunctionOnSuccess,
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Error');
        }
    });
}

function getAllContacts(callbackFunctionOnSuccess){
	$.ajax({
        url: "http://127.0.0.1:8000/welcome/default/api",
        type: "GET",
        data: {	table: 'contacts', message_id: 'all'},
        dataType: 'text',
        beforeSend: function (xhr){
        },
        success: callbackFunctionOnSuccess,
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Error');
        }
    });
	
	return returnData;
}

function postSuccessfulCallbackFunction(resultFromPostRequest) 
{
	alert(resultFromPostRequest);
}

function getSuccessfulCallbackFunction(resultFromGetRequest) 
{
	addRowToContactsTable('example1@exampleContacts.com');
	addRowToContactsTable('example2@exampleContacts.com');
	addRowToContactsTable('wretzloff@teamA.com');
	addRowToContactsTable(resultFromGetRequest);
}

function sendButton()
{
	//Grab the information entered by the user
	var to = $('#toField').val();
	var message = $('#messageField').val();
	
	//Pass the information enterd by the user to sendMessage in order to have the message posted.
	sendMessage(postSuccessfulCallbackFunction, to, message);
}

function addRowToContactsTable(cellText)
{
	//Create a row
	var row=document.createElement("tr");
	var cell = row.insertCell(-1);
	
	//Create a link that we will put in the cell
	var linkElement = document.createElement('a');
	var linkText = document.createTextNode(cellText);
	linkElement.appendChild(linkText);
	//When user clicks on the link, we should replace the value in the toField element.
	linkElement.onclick = function () { 
		$('#toField').val(cellText); 
	};
	
	//Add the link to the cell
	cell.appendChild(linkElement);
	
	//Insert the row into the table
	$('#contactsTable').append(row);
}

$(document).ready(function(){
	//Call the Get Contacts service to retrieve all contacts and use the results to update the page.
	getAllContacts(getSuccessfulCallbackFunction);
});

</script>
<a href="{{=URL('index')}}">Inbox</a>
<table style="width:100%">
	<tr>
		<td style="width:80%">
			<form action="javascript:sendButton();">
				To:
				<input type="text" id='toField'>
				<br>
				<textarea id="messageField" style="height: 150px;">
				</textarea>
				<br>
				<input type="submit" value="Send">
			</form>
		</td>
		<td> 
			Contacts
			<br>
			<div id='contactDiv' style="height:200px;border:1px solid black;overflow:scroll;">
				<table id='contactsTable'>
				</table>
			</div>
		</td>
	</tr>
<table>



 