{{extend 'layout.html'}}
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
function sendMessage(callbackFunctionOnSuccess, messageTo, messageText){
	$.ajax({
        url: "http://127.0.0.1:8000/welcome/default/api",
        type: "POST",
        data: {	type: 'send',
                message: messageText,
				to: messageTo,
              },
        dataType: 'text',
        beforeSend: function (xhr){
        },
        success: callbackFunctionOnSuccess,
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Error');
        }
    });
}

function successCallbackFunction(resultFromPost) 
{
	alert(resultFromPost);
}

</script>
<a href="{{=URL('index')}}">Inbox</a>

 