<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
function sendPost(){
    $.ajax({
        url: "http://127.0.0.1:8000/welcome/default/api",
        type: "POST",
        data: {	type: 'send',
                message: 'This is my message from AJAX2',
				to: 'wretzloff@teamA.com',
              },
        dataType: 'text',
        beforeSend: function (xhr){
            xhr.setRequestHeader('Authorization', make_base_auth('will@teamA.com','1234567890'));
        },
        success: function(data) {
            alert(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Error');
        }
    });
}

function sendGet(callbackFunctionOnSuccess){
	$.ajax({
        url: "http://127.0.0.1:8000/welcome/default/api",
        type: "GET",
        data: {	table: 'messages', message_id: 1},
        dataType: 'text',
        beforeSend: function (xhr){
            xhr.setRequestHeader('Authorization', make_base_auth('wretzloff@teamA.com','abcd1234'));
        },
        success: callbackFunctionOnSuccess,
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Error');
        }
    });
	
	return returnData;
}

function sendDelete(){
    $.ajax({
        url: "http://127.0.0.1:8000/welcome/default/api",
        type: "DELETE",
        data: {	table: 'messages', message_id: 3},
        dataType: 'text',
        beforeSend: function (xhr){
            xhr.setRequestHeader('Authorization', make_base_auth('wretzloff@teamA.com','abcd1234'));
        },
        success: function(data) {
            alert(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Error');
        }
    });
}

function make_base_auth(user, password){
    var tok = user + ':' + password;
    var hash = btoa(tok);
    return 'Basic ' + hash;
}

function getSuccessfulCallbackFunction(resultFromGetRequest) 
{
	$('#tempElement').html(resultFromGetRequest);
	
}

$(document).ready(function(){
	sendGet(getSuccessfulCallbackFunction);
});
//sendPost();
//sendGet();
//sendDelete();
</script>


{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>

<h4>{{=T('How did you get here?')}}</h4>
<ol>
  <li>{{=T('You are successfully running web2py')}}</li>
  <li>{{=XML(T('You visited the url %s', A(request.env.path_info,_href=request.env.path_info)))}}</li>
  <li>{{=XML(T('Which called the function %s located in the file %s',
             (A(request.function+'()',_href='#'),
              A('web2py/applications/%(application)s/controllers/%(controller)s.py'%request,
               _href=URL('admin','default','peek', args=(request.application,'controllers',request.controller+'.py'))))))}}</li>
  <li>{{=XML(T('The output of the file is a dictionary that was rendered by the view %s',
           A('web2py/applications/%(application)s/views/%(controller)s/index.html'%request,
           _href=URL('admin','default','peek',args=(request.application,'views',request.controller,'index.html')))))}}</li>
  <li>{{=T('You can modify this application and adapt it to your needs')}}</li>
</ol>
<h1 id='tempElement'></h1>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
<h6>{{=T("Don't know what to do?")}}</h6>
<ul>
  <li>{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
  <li><a href="http://web2py.com">web2py.com</a></li>
  <li><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
</ul>
{{end}}
