<style>
	td {
		border: 1px solid black;
	}			
</style>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
function getAllMessages(callbackFunctionOnSuccess){
	$.ajax({
        url: "http://127.0.0.1:8000/welcome/default/api",
        type: "GET",
        data: {	table: 'messages', message_id: 'all'},
        dataType: 'text',
        beforeSend: function (xhr){
        },
        success: callbackFunctionOnSuccess,
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Error');
        }
    });
	
	return returnData;
}

function sendDelete(){
    $.ajax({
        url: "http://127.0.0.1:8000/welcome/default/api",
        type: "DELETE",
        data: {	table: 'messages', message_id: 3},
        dataType: 'text',
        beforeSend: function (xhr){
        },
        success: function(data) {
            alert(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Error');
        }
    });
}

function getSuccessfulCallbackFunction(resultFromGetRequest) 
{
	$('#tempElement').html(resultFromGetRequest);
	//Loop through the list of messages and use addRow() display each one on the screen.
	addRow('This is a dummy email sender','This is dummy email text');
	addRow('...','...');
}

function addRow(cell1Text, cell2Text)
{
				//Create a row
				var row=document.createElement("tr");
				//Create cells in row
				var cell1 = row.insertCell(-1);
				var cell2 = row.insertCell(-1);
				//Add button to proper cell
				cell1.innerHTML = cell1Text;
				cell2.innerHTML = cell2Text;
				//Insert the row into the table
				$('#messageTable').append(row);
				
				
}	

$(document).ready(function(){
	//Call the Get Messages service to retrieve all messages for this user and use the results to update the page.
	getAllMessages(getSuccessfulCallbackFunction);
});
</script>

{{extend 'layout.html'}}
<a href="{{=URL('compose')}}">Compose</a>
<table id='messageTable' style="width:95%">
	<tr>
		<td style="text-align:center;font-size: 32px;">Sender</td>
		<td style="text-align:center;font-size: 32px;">Message</td>
	</tr>
</table>
<h1 id='tempElement'></h1>

